/******************   lightbox
******************************************/
#carousel {

  position: fixed;
  top: 0%;
  left: 0%;
  background-color: rgba(0, 0, 0, .7);
  z-index: 30;
  background-color: white;
 
}
 .lightbox button {
    right: 7%;
  }
.lightbox__content {
  display: flex;
  position: relative;
  width: 90%;
  height:80%;
  top:13%;

  }


.lightbox__content img,
.lightbox__content video {
display: flex;
width:95%;
height: 90%;
object-fit: cover;
border-radius: 5px;
justify-content: center;
margin-left: 14%;
object-position: 50% 37%;
}

.lightbox {
  background-color: white;
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
}


.lightbox__content .slide {
  width: 65%;
  margin-left: 18%;
  margin-right: 18%; 
}

.lightbox__next,
.lightbox__prev {
  border: none;
  background: url(../assets/icons/vectorLightbox.svg) center center / 100% 100% no-repeat;
  width: 2rem;
  height: 2rem;
  position: fixed;
  top: 50%;
  right: 0;
  z-index: 11;
}

.lightbox__prev {
  right: auto;
  left:10%;
  transform: rotate(180deg);
}

.lightbox__close {
  width: 2rem;
  height: 2rem;
  border: none;
  background: url(../assets/icons/closeLightbox.svg) center / 100% 100% no-repeat;
  position: fixed;
  top: 14%;
  z-index: 12;
  color: var(--lobusc);
}

.lightbox button {
  cursor: pointer;
  position: fixed;
  text-indent: -10000px;
  opacity: 1;
}

.lightbox button:hover {
  opacity: 0.4;
}

.lightbox__title {
font-size: 1.5rem;
color: var(--lobusc);
margin-left: 14%;
margin-top: 0.7rem;
}
/****************************/

