/***********  SECTION PAGE  ACCUEIL     ***********/

.photographer-section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* gap: 70px; */
  margin-top: 100px;
  text-align: center;
}


.photographer-section article {
  width: 25%;
  margin-left: 5%;
}

.photographer-section article a {
  text-decoration: none;
  display: flex;
  justify-self: center;
  justify-content: center;
  flex-direction: column;

}


.photographer-section article a h2 {
  color: #D3573C;
  font-size: 2.25rem;
  margin-bottom: 0;
  font-weight: 400;
  transition-duration: 200ms;
  text-align: center;
}

.photographer-section article a:hover h2 {
  color: var(--cico);
  font-size: 2rem;
  font-weight: 400;
  transition-duration: 200ms;
  text-align: center;

}

.photographer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0;
}

.photographer-content h3 {
  text-align: center;
}

.photographer-section article img {
  height: 13rem;
  width: 13rem;
  transform: scale(1);
  transition-duration: 300ms;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0px 5px 10px 1px rgba(201, 197, 197, 0.50);
  align-self: center;

}

.photographer-content {
  font-size: 9px;
  color: #757575;
  font-weight: 400;
  text-align: center;
}


/**************   SECTION PAGE DU PHOTOGRAPHE    *****/
/*   HEADER */

.photograph-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #FAFAFA;
  width: 90%;
  height: 18.75rem;
  margin: auto;
}

.photograph-header a {
  text-decoration: none;
  cursor: pointer;
}

.photograph-header h1 {
  color: #d3573c;
  font-size: 3rem;
  font-weight: 400;
  margin: 0px;
}

.content-photograph {
  display: block;
  color: var(--lobusc);
  font-size: 2rem;
  font-weight: 400;
}

.photograph-header img {
  height: 12.5rem;
  /* 200px  */
  width: 12.5rem;
  border-radius: 50%;
  background: #C4C4C4;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
  margin-top: -17%;
  margin-right: 4%;
  object-fit: cover;
}

.photograph-header article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  width: 90%;
  margin: auto;
}

.photograph-header div p {
  font-weight: 400;
  font-size: 40px;
  line-height: 0px;
  color: var(--lobusc);
  margin-top: 7%;
}

.photograph-header h1 {
  font-size: 64px;
  color: #d3573c;
  font-weight: 400;
}

.photograph-header p.tagline {
  color: black;
  padding-top: 1.25rem;
  font-size: 1.25rem;
}

.photograph-header .modal-btn {
  align-self: center;
}

.modal-btn:hover {
  color: #312e2e;
  background: #d3573c;
}


/***********  SECTION  GALLERY MEDIAS  **********/
.gallery-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding-top: 3%;
  justify-content: space-between;
  margin:auto;
  width:90%;
}

.gallery-section article {
  display: flex;
  flex-direction: column;
}

figure {
  margin: 0px;
}

.gallery-section span {
  align-content: center;
  font-size: 1.2rem;
  font-weight: 500;
}

/***  reprise maquette */
.gallery-section img {
  height: 18rem;
  width: 21rem;
  object-fit: cover;
  border-radius: 5px;
  transform: translateY(0px) scale(1);
  transition: all 0.25s ease;
  box-shadow: 0 3px 3px rgb(0 0 0 / 10%);
  object-position: 50% 17%;
}

figcaption {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--lobusc);
}

figcaption h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 12rem;
}

/*-------   LIKES   ------- */

.numberLike::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f004";
  font-size: 1.25rem;
  cursor: pointer;
  padding-left: 5px;
}
.liked.numberLike::after {
  color:rgb(236, 32, 32);
}
/*************** SECTION   FILTER  **************/
.sorter {
  position: relative;
}

#sort-choice {
  border-radius: 5px;
  margin-left: 2.5rem;
  border: none;
}

/* trier par + liste deroulante */
.sort {
  display: flex;
  flex-direction: row;
  max-width: 67%;
  margin: 0 3.5rem;
  padding-top: 3%;
}

select {
  /* suppression  du chevron natif*/
  -webkit-appearance: none;
  appearance: none;
  background: url("../assets/icons/chevron-down.svg") var(--lobusc) no-repeat 90%;
  border: none;
  color: white;
  padding: 2%;
  font-weight: 500;
  font-size: 1.3rem;
  cursor: pointer;
  border-radius: 5px;
}

/* change le natif*/
option[disabled] {
  color: #c9c9c9;
}

.actived {
  background: url("../assets/icons/chevron-up.svg") var(--lobusc) no-repeat 90%;
}


/****** SECTION  MODAL FORMULAIRE  ******************/

*::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* bouton contactez moi */
.modal-btn {
  padding: 10px 14px;
  font-size: 18px;
  margin: 6.25rem auto;
  /*  100px */
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 9.375rem;
  /*  150px */
  cursor: pointer;
  height: 69px;
  background-color: var(--lobusc);
  color: white;
  border-radius: 5px;
  border: none;
}

/* voit la modal */
.md-container {
  visibility: hidden;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  transition: visibility 0.3s;
}

/****** transition ********/
.md-container.active .modal {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, -50%);
  transition: opacity 0.4s 0.2s ease-out,
    transform 0.4s 0.2s ease-out;
}

.modal {
  opacity: 0;
  max-width: 27rem;
  padding: 0rem 2.2rem 1.8rem 2.2rem;
  background-color: var(--bann);
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% - 50px));
  transition: opacity 0.3s ease-out,
    transform 0.4s ease-out;
}


/******* croix de fermeture de la modal formulaire   ********/
.close-modal {
  padding: 8px 10px;
  border: none;
  position: absolute;
   background: url("../assets/icons/arrowCloseModal.svg") center / 100% 100% no-repeat;
  top: 2.5rem;
  right: 25px;
  cursor: pointer;
  background-color: var(--bann);
  color: #fff;
  width:1.8rem;
  height:1.8rem;
}

.modal label {
  display: flex;
  font-weight: 400;
  border-radius: 5px;
  font-size: 1.2rem;
}

.modal h1 {
  font-size: 2rem;
  font-weight: 400;
  margin-top: 2rem;
  margin-bottom: 0px;
  color: black;
}

/*  interieur de l input & textarea */

#message {
  font-size: 1.8rem;
}

/*   entre input    */
.modal input,
textarea {
  width: 100%;
  height: 2.1rem;
  border-radius: 5px;
  border: none;
  margin-bottom: 5px;
}

.modal input:focus {
  outline-style: solid;
  border: 1px solid rgb(231, 100, 177);
}


.modal textarea:focus {
  outline-style: solid;
  border: 1px solid rgb(231, 100, 177);
}

#nameModal {
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 10px;
  margin-top: 1.25rem;
  /*  20px  */
}

.modal.h2 {
  font-size: 4rem;
  font-weight: 400;
  margin-top: 1.25rem;
  margin-bottom: 0px;
}

.contact_button {
  background-color: var(--lobusc);
  width: 10.625rem;
  height: 4rem;
  border: none;
  border-radius: 5px;
  font-size: 1.125rem;
  /* 18px*/
  color: white;
  font-weight: 700;
  align-items: center;
  margin-top: 1rem;

}

/********     modal  message erreur   ******/
label {
  display: block;
}

.form-data.error input,
.form-group.error textarea {
  border: 2px solid transparent;
}

.form-group.error label {
  color: var(--lobusc);
}

.form-data.error::after {
  content: 'Merci de remplir le formulaire.';
  display: block;
  color: var(--lobusc);
  padding: 5px 0;
  font-size: 1rem;
}

/***********   ENCART BAS de PAGE  ********/

.bannerLikes-section {
  display: flex;
  align-items: center;
  position: fixed;
  justify-content: space-around;
  background-color: var(--bann);
  width: 15rem;
  height: 3.5rem;
  z-index: 1;
  border-radius: 5px;
  bottom: 0;
  right: 1%;
  font-size: 1.3rem;
  font-weight: 500;
}

#totalLike::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f004";
  font-size: 1.4rem;
  cursor: pointer;
  padding-left: 5px;
}

.allLike {
  margin-right: 10px;
}