/**************************    BREAKPOINTS  LARGE   ********/

@media only screen and (min-width : 1440px) {
  .lightbox button {
    right: 8%;
  }
/*   
 .sort {
  margin-left: 3.2rem;
 } */
}

/***********************   DESKTOP   *********/
@media only screen and (min-width : 1024px)  {
  .lightbox button {
    right: 8%;
  }
  .modal-btn {
    margin-right: 8rem;
  }
   /* .sort{
    margin-left: 2.2rem;
  }  */
  .gallery-section img {
  height: 15rem;
  width: 17rem;
}

}



/*********   TABLETS PORTRAIT   *************/

@media only screen and (max-width : 768px) {

  h1 {
    align-content: center;
    margin-bottom: 1.25rem;
    margin-top: 1.25rem;
  }

  .logo {
    margin-left: 2.5rem;
    height: 2.5rem;
    width: 8rem;
  }

  .close-modal {
    font-size: 2rem;
    top: 2.5rem;
  }

  .close-modal img {
    font-size: 2rem;
  }

  #nameModal {
    font-size: 2rem;
    margin-top: 1rem;
  }

  .close-modal {
    font-size: 1rem;
  }

  .sort {
    margin: 1rem 2.81rem;
  }

  .modal-btn {
    margin-right: 11%;
  }

  .photographer-section article img {
    margin-top: 3.125rem;
  }

 .photographer-section article{
    margin-left: 2%;
    gap: 0px;
 }
  .photographer-section article .tagline {
    font-size: 10px;
    font-weight: 400;
  }

  .photographer-section article .price {
    font-size: 9px;
    color: #757575;
    font-weight: 400;
  }

  .photograph-header h1 {
    font-size: 35px;
  }

  .photograph-header div p {
    line-height: 25px;
  }

  #sort-choice {
    margin-bottom: inherit;
  }

  .bannerLikes-section {
    width: 17rem;
    height: 3.5rem;
    font-size: 1.1rem;
  }

}
.lightbox__close {
  width: 1.5rem;
  height: 1.5rem;
}


