@import url("photographer.css");
@import url("lightbox.css");


/**    variables  ***/
:root {
  --lobusc: #901c1c;
  /* logo buttons scrawll */
  --cico: red;
  /* city country  */
  --bann: #DB8876;
  /* banniere */


}

body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
}

main {
  padding-bottom: 5%;
}

/* entete */

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 5.625rem
    /* 90px*/
  ;
}

h1 {
  color: var(--lobusc);
  margin-right: 6.25rem;
  /*100px */
  font-weight: 400;
  margin-top: 3px;
}

.logo {
  width: 9.6875rem;
  height: 3.125rem;
  margin-left: 6.25rem;
  padding-bottom: 5px;
  border-bottom: 3px solid white;
}

.logo:hover,
.logo:active {
  border-bottom: 3px solid var(--lobusc);
}

.hide {
  display: none;
}



/**************************    BREAKPOINTS   ********/


@media only screen and (max-width : 1289px) {
  .photographer-section {
    margin: 6.25rem 3.75rem;
  }

}

/***********************   TABLETS LANDSCAPE   *********/

@media only screen and (max-width : 1024px) {

  .photographer-section {
    width: 90%;
    justify-content: space-around;
    margin: 2%;
    gap: 2%;
  }

  .modal h1 {
    font-size: 2rem;
  }

  .close-modal {
    font-size: 2rem;
    top: 0.5rem;
  }

  .modal input {

    height: 2rem;
    border-radius: 5px;
    border: none;
  }

  .modal-btn {
    margin-right: 13%;
  }

  /*********************  TABLETS PORTRAIT   *************/

  @media only screen and (max-width : 768px) {}

  h1 {
    align-content: center;
    margin-bottom: 1.25rem;
    margin-top: 1.25rem;
  }

  .close-modal {
    font-size: 2rem;
    top: 2.5rem;
  }

  .photographer-section article img {
    margin-top: 3.125rem;
  }

  .photographer-section article .tagline {
    font-size: 10px;
    font-weight: 400;
  }

  .photographer-section article .price {
    font-size: 9px;
    color: #757575;
    font-weight: 400;
  }
  .photograph-header h1{
    font-size: 40px;
  }
  .photograph-header div p {
    line-height:25px ;
  }

.bannerLikes-section {
  width: 17rem;
  height: 3.5rem;
  font-size: 1.1rem;
}
}
/****************  SMARTPHONE  ****************/

@media only screen and (max-width : 480px) {
  .photograph-header .article {
    flex-direction: column;
  }

  .photographer-section {
    flex-direction: column;
    align-content: center;
    width: 100%;
    gap: 0;
  }

  h1 {
    margin-left: 23%;
  }

  .logo {
    margin-left: 90%;
  }

  header {
    flex-wrap: wrap;
    text-align: center;
  }

  .lightbox__close,
  .lightbox__next,
  .lightbox__prev {
    width: 1.2rem;
  }

  .lightbox button {
    right: 12%;
  }

  #nameModal {
    font-size: 2rem;
  }
  .modal {
    left:55%;
  width: 64%;
  }
  .modal h1{
    font-size: 1.8rem;
    text-align: left;
    margin: inherit;
  }
}

@media only screen and (max-width : 425px) {
  .modal {
    left:65%;
}

main{
  padding-top: 10%;
}

.photograph-header article{
  flex-direction: column;
}


.photograph-header .tagline{
  display: none;
  width:100%
}
.bannerLikes-section {
  width:50%;
  height:3%
}

.bannerLikes-section {
  width: 13rem;
  height: 3rem;
  font-size: 0.8rem;
}
}