@import url("photographer.css");
@import url("lightbox.css");


/**    variables  ***/
:root {
  --lobusc: #901c1c;
  /* logo buttons scrawll */
  --cico: red;
  /* city country  */
  --bann: #DB8876;
  /* banniere */


}

body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
}

/* entete */

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

h1 {
  color: var(--lobusc);
  margin-right: 100px;
  font-weight: 400;
  margin-top: 3px;
}

.logo {
  width: 155px;
  margin-left: 100px;
  padding-bottom: 5px;
  border-bottom: 3px solid white;
}

.logo:hover,
.logo:active {
  border-bottom: 3px solid var(--lobusc);
}

.hide {
  display: none;
}

option[disabled] {
  color: #c9c9c9;
}


/**************************    BREAKPOINTS   ********/

@media only screen and (min-width : 1024px) and (max-width : 1289px) {
  .photographer-section {
    margin: 100px 60px;
  }
}

/***********************   TABLETS LANDSCAPE   *********/

@media only screen and (min-width : 767.99px) and (max-width : 1023.99px) {

  .photographer-section {
    width: 90%;
    justify-content: space-around;
    margin: 0px 45px;
    gap: 1px;
  }


  /*********************  TABLETS PORTRAIT   *************/

  @media only screen and (min-width : 480.99px) and (max-width : 768px) {}

  main {
    padding-left: 40px;
  }

  header {
    flex-direction: column;
    align-content: center;
    margin-top: 20px;

  }

  h1 {
    align-content: center;
    margin-right: -55px;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .photographer-section article img {
    margin-top: 50px;
  }

  .photographer-section article .tagline {
    font-size: 10px;
    font-weight: 400;
  }

  .photographer-section article .price {
    font-size: 9px;
    color: #757575;
    font-weight: 400;
  }

  .photographer-section {
    margin: 1px 35px;
  }

  .gallery-section {
    display: flex;
    margin: 0px 5px 0px 5px;
  }
  
}

/****************  SMARTPHONE  ****************/

@media only screen and (min-width : 320px) and (max-width : 480px) {
  .photograph-header article {
    flex-direction: column;
  }

  .photograph-header {
    margin: 0;
  }

  header {
    flex-direction: column;
    align-content: center;
    margin-top: 20px;
    margin-left: 25px;
  }

  .photographer-section {
    margin: 50px 20px;
  }

  h1 {
    margin: 15px;
  }

  .logo {
    margin-left: 15px;
  }
}

/********************************************